# Eclipse
.classpath
.project
.settings/
.gwt/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
out/

#Cobertura
cobertura.ser

#node
/node_modules
npm-debug.log
#bower
bower_components

#Fichier de crash java
replay_*
hs_*

coverage
.gradle
build
gradle
.idea